.file-wrap{
	border: 1px solid #dddddd;
	padding: 10px;
	border-radius: 6px;
}

.address-btn-wrap span{
	background-color: var(--bran-color);
	cursor: pointer;
	color: #ffffff;
	display: inline-flex;
	padding: 8px 15px;
	border-radius: 4px;
}

.address-btn-wrap{
	text-align: right;
}

.address-form-items hr{
	border-top: 1px solid #dddddd;
}

.op-info{
	display: flex;
	justify-content: space-between;
}

.btn-mini{
	background-color: var(--bran-color);
	padding: 3px 7px 5px;
	border-radius: 3px;
	display: inline-flex;
	color: #ffffff;
	font-size: 13px;
	cursor: pointer;
}

.has-del{
	position: relative;
}

.has-del .btn-del{
	position: absolute;
    background-color: var(--bran-color);
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 16px;
    border-radius: 0 6px 6px 0;
    z-index: 9;
}

.has-del .btn-del svg{
	width: 12px;
	height: auto;
}